Repository ROCm/llvm-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing
# Documentation files
docs/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.md @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.rst @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
.readthedocs.yaml @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing

fix the flatmm (#2349)
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  include/ck_tile/ops/flatmm/kernel/flatmm_kernel.hpp
  include/ck_tile/ops/gemm.hpp
  script/run_ck_profiler_gemm_with_csv_shapes.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Revert "fix the flatmm (#2349)" (#2352)
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  include/ck_tile/ops/flatmm/kernel/flatmm_kernel.hpp
  include/ck_tile/ops/gemm.hpp
  script/run_ck_profiler_gemm_with_csv_shapes.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add cmake flag to enable Assembly dump (#2347)
  CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix the CK Tile related operators (#2356)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  include/ck_tile/ops/flatmm/kernel/flatmm_kernel.hpp
  include/ck_tile/ops/gemm.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v5.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_agmem_bgmem_creg_v1.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_problem.hpp
  include/ck_tile/ops/gemm/pipeline/tile_gemm_traits.hpp
  script/run_ck_profiler_gemm_with_csv_shapes.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

add script to pre commit hooks for checking file permissions (#2322)
  .pre-commit-config.yaml
  script/remove_exec_bit.sh
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Do not use warpSize as compile time constant as it is removed (#2320)
  example/ck_tile/02_layernorm2d/generate.py
  example/ck_tile/05_reduce/reduce.hpp
  example/ck_tile/10_rmsnorm2d/generate.py
  example/ck_tile/11_add_rmsnorm2d_rdquant/add_rmsnorm2d_rdquant_fwd.hpp
  example/ck_tile/12_smoothquant/smoothquant.hpp
  example/ck_tile/14_moe_smoothquant/moe_smoothquant.hpp
  include/ck/ck.hpp
  include/ck/tensor_operation/gpu/block/blockwise_gemm_mx_pipeline_xdlops_base.hpp
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_base.hpp
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v2.hpp
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v2_ab_scale.hpp
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_v2_b_scale.hpp
  include/ck/tensor_operation/gpu/grid/batchnorm_multiblock/gridwise_multiblock_batchnorm_forward.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_b_preshuffle.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_multi_d_b_preshuffle.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_multi_d_blockscale_b_preshuffle.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_mx_bpreshuffle.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm_blockscale.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_moe_mx_gemm_bns.hpp
  include/ck/utility/workgroup_synchronization.hpp
  include/ck_tile/core/arch/utility.hpp
  include/ck_tile/ops/flatmm/block/flatmm_32x512x128_1x4x1_16x16x32.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qx_ks_vs_custom_policy.hpp
  include/ck_tile/ops/fused_moe/kernel/fused_moegemm_shape.hpp
  include/ck_tile/ops/fused_moe/kernel/moe_sorting_kernel.hpp
  include/ck_tile/ops/fused_moe/pipeline/fused_moegemm_pipeline_flatmm_policy.hpp
  include/ck_tile/ops/image_to_column/pipeline/tile_image_to_column_shape.hpp
  include/ck_tile/ops/norm_reduce/block/block_norm_reduce.hpp
  include/ck_tile/ops/reduce/block/block_reduce2d.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix Add in dynamic buffer for fp32/i8 (#2351)
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_streamk_v3.hpp
  include/ck/utility/dynamic_buffer.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add missing copyright headers (#2359)
  example/ck_tile/18_flatmm/script/smoke_test_basic.sh
  example/ck_tile/35_batched_transpose/script/perf_test.sh
  example/ck_tile/35_batched_transpose/script/run_full_test.sh
  example/ck_tile/35_batched_transpose/script/smoke_test.sh
  test/batched_gemm_softmax_gemm_permute/test_batched_gemm_device_utils.hpp
  test/gemm_universal/test_gemm_universal_ut_cases_bf16.inc
  test/gemm_universal/test_gemm_universal_ut_cases_fp16.inc
  test/gemm_universal/test_gemm_universal_ut_cases_fp8.inc
  test/gemm_universal_streamk/test_gemm_universal_streamk_ut_cases_bf16.inc
  test/gemm_universal_streamk/test_gemm_universal_streamk_ut_cases_fp16.inc
  test/gemm_universal_streamk/test_gemm_universal_streamk_ut_cases_fp8.inc
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] Support multi-config in tile_example_gemm_universal (#2240)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_problem.hpp
  include/ck_tile/ops/gemm/pipeline/tile_gemm_traits.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix default epilogue (#2358)
  include/ck_tile/ops/epilogue/default_2d_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix argument order for calls to profile_batched_gemm_impl() (#2277)
  profiler/include/profiler/profile_batched_gemm_impl.hpp
  profiler/src/profile_batched_gemm.cpp
  profiler/src/profile_batched_gemm_multi_d.cpp
  test/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] moe_sorting support "local_tokens" feature for EP case (#2335)
  example/ck_tile/13_moe_sorting/README.md
  example/ck_tile/13_moe_sorting/moe_sorting.cpp
  example/ck_tile/13_moe_sorting/moe_sorting_api.cpp
  example/ck_tile/13_moe_sorting/script/smoke_test.sh
  example/ck_tile/15_fused_moe/fused_moe.hpp
  example/ck_tile/15_fused_moe/instances/fused_moe_api.cpp
  example/ck_tile/15_fused_moe/instances/fused_moesorting_api.cpp
  example/ck_tile/15_fused_moe/main.cpp
  include/ck_tile/host/reference/reference_moe_sorting.hpp
  include/ck_tile/ops/fused_moe/kernel/moe_sorting_kernel.hpp
  include/ck_tile/ops/fused_moe/kernel/moe_sorting_problem.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

[CK_TILE] fix build error in tile_add_rmsnorm2d_rdquant_fwd (#2243)
  example/ck_tile/11_add_rmsnorm2d_rdquant/add_rmsnorm2d_rdquant_fwd.hpp
  example/ck_tile/11_add_rmsnorm2d_rdquant/example_add_rmsnorm2d_rdquant_fwd.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Revert "Fix default epilogue (#2358)" (#2364)
  include/ck_tile/ops/epilogue/default_2d_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

transpose load api development (#2177)
  example/ck_tile/37_transpose/CMakeLists.txt
  example/ck_tile/37_transpose/README.md
  example/ck_tile/37_transpose/batched_transpose_kernel.hpp
  example/ck_tile/37_transpose/block_transpose.hpp
  example/ck_tile/37_transpose/transpose_api.cpp
  example/ck_tile/37_transpose/transpose_example.cpp
  example/ck_tile/37_transpose/transpose_example.hpp
  example/ck_tile/37_transpose/transpose_policy.hpp
  example/ck_tile/CMakeLists.txt
  include/ck_tile/core.hpp
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
  include/ck_tile/core/arch/amd_transpose_load_encoding.hpp
  include/ck_tile/core/tensor/buffer_view.hpp
  include/ck_tile/core/tensor/load_tile_transpose.hpp
  include/ck_tile/core/tensor/tensor_view.hpp
  include/ck_tile/core/tensor/tile_window.hpp
  include/ck_tile/core/tensor/tile_window_linear.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

Stream-K CkProfiler Update ( Replace CPU Validation with GPU Validation and Add Dynamic Grid Size Calculation for Stream-K GEMM Profiler) (#2333)
  profiler/include/profiler/profile_gemm_universal_streamk_impl.hpp
  profiler/src/profile_gemm_universal_streamk.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Reland fix default epilogue (#2367)
  include/ck_tile/ops/epilogue/default_2d_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Transpose builtin macro defense (#2374)
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
  include/ck_tile/core/arch/amd_buffer_addressing_builtins.hpp
  include/ck_tile/core/tensor/buffer_view.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Introduce dependency-based CI test selection. (#2377)
  Jenkinsfile
  script/dependency-parser/README.md
  script/dependency-parser/main.py
  script/dependency-parser/src/enhanced_ninja_parser.py
  script/dependency-parser/src/selective_test_filter.py
  script/launch_tests.sh
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

fix the mi350 error (#2378)
  example/ck_tile/19_gemm_multi_d/CMakeLists.txt
  test/ck_tile/gemm/CMakeLists.txt
  test/ck_tile/gemm_multi_d/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing
