Repository ROCm/llvm-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

[CK TILE] Grouped Convolution Forward Kernel (#2188)
  example/ck_tile/20_grouped_convolution/CMakeLists.txt
  example/ck_tile/20_grouped_convolution/grouped_convolution_forward.cpp
  example/ck_tile/20_grouped_convolution/grouped_convolution_utils.hpp
  example/ck_tile/20_grouped_convolution/run_grouped_convolution_example.inc
  example/ck_tile/CMakeLists.txt
  include/ck_tile/host.hpp
  include/ck_tile/host/reference/reference_grouped_conv_fwd.hpp
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v5.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_agmem_bgmem_creg_v1_default_policy.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_problem.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_universal_pipeline_ag_bg_cr_policy.hpp
  include/ck_tile/ops/grouped_convolution.hpp
  include/ck_tile/ops/grouped_convolution/kernel/grouped_convolution_forward_kernel.hpp
  include/ck_tile/ops/grouped_convolution/utils/convolution_specialization.hpp
  include/ck_tile/ops/grouped_convolution/utils/grouped_convolution_utils.hpp
  include/ck_tile/ops/grouped_convolution/utils/transform_conv_fwd_to_gemm.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Update for xformers (#2372)
  include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_whole_k_prefetch.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

[CK_TILE] Fix compilation errors introduced in #2320, #2219 and #2214 (#2388)
  example/ck_tile/02_layernorm2d/generate.py
  example/ck_tile/05_reduce/reduce.hpp
  example/ck_tile/10_rmsnorm2d/generate.py
  example/ck_tile/12_smoothquant/smoothquant.hpp
  example/ck_tile/14_moe_smoothquant/moe_smoothquant.hpp
  example/ck_tile/17_grouped_gemm/grouped_gemm_tileloop.cpp
  include/ck_tile/core/tensor/tile_window_linear.hpp
  include/ck_tile/ops/fused_moe/kernel/fused_moegemm_shape.hpp
  include/ck_tile/ops/fused_moe/kernel/moe_sorting_kernel.hpp
  include/ck_tile/ops/norm_reduce/block/block_norm_reduce.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

update the way to compute fmha fwd tflop, include mask type (#2386)
  example/ck_tile/01_fmha/fmha_fwd.cpp
  example/ck_tile/01_fmha/mask.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Shard several of the most costly targets. (#2373)
  .gitignore
  cmake/ShardInstantiation.cmake
  cmake/call_shard.in
  cmake/instantiate_shard.in
  include/ck/utility/filter_tuple.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_xdl.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_bf16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_bf16_comp_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_bf16_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_f16_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_inter_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_intra_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_bf16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_bf16_comp_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_f16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ndhwgc_gkzyxc_ndhwgk_f16_comp_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_comp_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/comp/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_comp_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_mem_inter_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_bf16_mem_intra_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_mem_inter_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_mem_intra_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f32_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f32_mem_inter_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f32_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/mem/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f32_mem_intra_instance.in
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

Add accelerated stochastic rounding on gfx950 (#2355)
  include/ck/utility/amd_ck_fp8.hpp
  include/ck/utility/mxf8_utils.hpp
  include/ck/utility/type_convert.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

[CK_TILE] FMHA Support hdim_v to as a Multiple of 32 (#2114)
  CHANGELOG.md
  example/ck_tile/01_fmha/README.md
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd_splitkv.py
  example/ck_tile/01_fmha/fmha_fwd.cpp
  include/ck_tile/core/tensor/shuffle_tile.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qx_ks_vs_custom_policy.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @tenpercent

AMDGPU: Mark v_mov_b64_pseudo as a VOP1 instruction (#128677)
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/remat-sop.mir
  llvm/test/CodeGen/AMDGPU/tuple-allocation-failure.ll
  llvm/test/CodeGen/AMDGPU/vgpr-remat.mir
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

fix moe i4 bug from aiter (#2339)
  include/ck/tensor_operation/gpu/block/blockwise_gemm_pipeline_xdlops_b_preshuffle_gufusion_dequant_v1.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Implement batched gemm wmma (RDNA batched gemm) based on wmma cshuffle v3 (#2319)
  include/ck/tensor_operation/gpu/device/impl/device_batched_gemm_wmma_cshuffle_v3.hpp
  library/include/ck/library/tensor_operation_instance/gpu/batched_gemm.hpp
  library/src/tensor_operation_instance/gpu/batched_gemm/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_bf16_bf16_bf16_gkm_gkn_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_bf16_bf16_bf16_gkm_gnk_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_bf16_bf16_bf16_gmk_gkn_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_bf16_bf16_bf16_gmk_gnk_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_f16_f16_f16_gkm_gkn_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_f16_f16_f16_gkm_gnk_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_f16_f16_f16_gmk_gkn_gmn_instance.cpp
  library/src/tensor_operation_instance/gpu/batched_gemm/device_batched_gemm_wmma_universal_f16_f16_f16_gmk_gnk_gmn_instance.cpp
  profiler/src/CMakeLists.txt
  test/batched_gemm/CMakeLists.txt
  test/batched_gemm/test_batched_gemm_wmma.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

Fix build error when building with MIOPEN_REQ_LIBS_ONLY=ON (#2383)
  CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Do not build "other" library for MIOpen (#2382)
  library/src/tensor_operation_instance/gpu/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Improve fmha_bwd tests performance (#2376)
  example/ck_tile/01_fmha/fmha_bwd.cpp
  include/ck/library/utility/host_tensor.hpp
  include/ck_tile/host/host_tensor.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

add a mx_fp8 client example (#2380)
  client_example/32_gemm_mx/CMakeLists.txt
  client_example/32_gemm_mx/gemm_mx_fp8.cpp
  client_example/README.md
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

Fix unmatched K size of WarpGemmMfmaBf16Bf16F32M16N16K32TransposedCDistribution on gfx950 (#2393)
  include/ck_tile/ops/gemm/warp/warp_gemm.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Fix amd_ck_fp8.hpp macro definitions (#2325)
  include/ck/utility/amd_ck_fp8.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

[CK_TILE] Add missing parameter 'min_seqlen_q' to the FMHA fwd kernel MakeKargs() interface (#2403)
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/ops/fmha/kernel/fmha_batch_prefill_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

[CK_TILE] Refine fp8 support in flatmm (#2239)
  example/ck_tile/18_flatmm/CMakeLists.txt
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  example/ck_tile/18_flatmm/flatmm_basic.hpp
  example/ck_tile/18_flatmm/run_flatmm_example.inc
  include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1_policy.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  tile_engine/ops/gemm/codegen_utils.py
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Enable fp4 tests (#2329)
  include/ck/ck.hpp
  include/ck/utility/type_convert.hpp
  test/data_type/test_mx_fp4.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Enable builds on gfx942 by default and run all tests on develop branch. (#2408)
  Jenkinsfile
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

[CK Tile] Int8 Support on CK Tile GEMM (#2267)
  CHANGELOG.md
  example/ck_tile/03_gemm/README.md
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/core/numeric/integer.hpp
  include/ck_tile/core/tensor/buffer_view.hpp
  include/ck_tile/host/host_tensor.hpp
  include/ck_tile/ops/gemm/block/block_universal_gemm_as_bs_cr.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm_attribute_mfma_impl.hpp
  include/ck_tile/ops/gemm/warp/warp_gemm_dispatcher.hpp
  test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  test/ck_tile/gemm/test_gemm_pipeline_ut_cases.inc
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
  tile_engine/ops/gemm/CMakeLists.txt
  tile_engine/ops/gemm/codegen_utils.py
  tile_engine/ops/gemm/configs/default_config.json
  tile_engine/ops/gemm/configs/user_provided_config.json
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
  tile_engine/ops/gemm/json_config.py
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @tenpercent

Enabling diff datatypes for tile_engine and build with more granularity (#2392)
  Jenkinsfile
  tile_engine/ops/gemm/CMakeLists.txt
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/codegen_utils.py
  tile_engine/ops/gemm/configs/benchmark.json
  tile_engine/ops/gemm/configs/default_config.json
  tile_engine/ops/gemm/configs/user_provided_config.json
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
  tile_engine/ops/gemm/json_config.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

[CK][CONV] Support NCHW in class DeviceGroupedConvFwdMultipleABD_Xdl_CShuffle (#2375)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_fwd_multiple_abd_xdl_cshuffle.hpp
  include/ck/tensor_operation/operator_transform/transform_conv_fwd_to_gemm.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_fwd/device_grouped_conv_fwd_xdl_instance.hpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_ngchw_gkcyx_ngkhw_f16_instance.in
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_ngchw_gkyxc_ngkhw_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/xdl/device_grouped_conv3d_fwd_xdl_ngcdhw_gkczyx_ngkdhw_f16_16x16_instance.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

Huaiguxu/moe fp8 pertoken scale fix (#2391)
  example/65_gemm_multiply_multiply/moe_gemm2_xdl_fp8.cpp
  include/ck/tensor_operation/gpu/grid/gridwise_moe_gemm.hpp
  library/include/ck/library/reference_tensor_operation/cpu/reference_moe_gemm2.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @ROCm/rocm-documentation

Revert "Enable builds on gfx942 by default and run all tests on develop branc…" (#2418)
  Jenkinsfile
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Fix an earlier static check error due to assignment of variable in Jenkinsfile (#2420)
  Jenkinsfile
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Enhancements in precommit_install.sh for Python and CK Tile code (#2400)
  .pre-commit-config.yaml
  script/install_precommit.sh
  script/remod_for_ck_tile.sh
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Updating Runtime log for CK Tile Engine (#2431)
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/benchmark_gemm.hpp
  tile_engine/ops/gemm/gemm_profiler.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd, @tenpercent

Fix return value bug that drops minus sign in some cases. (#2415)
  include/ck/utility/mxfp_utils.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

fix KPerBlock = 64 a8w8 bpreshulle gemm build fail in gfx950 (#2437)
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_multi_d_b_preshuffle.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

Fix clang in ck develop branch (#2445)
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_multi_d_b_preshuffle.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @coderfeli, @shumway, @vidyasagar-amd

.github/CODEOWNERS:

* @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing @coderfeli @shumway @vidyasagar-amd
# Documentation files
docs/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing @coderfeli @shumway @vidyasagar-amd
*.md @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing @coderfeli @shumway @vidyasagar-amd
*.rst @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing @coderfeli @shumway @vidyasagar-amd
.readthedocs.yaml @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing @coderfeli @shumway @vidyasagar-amd
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing @coderfeli @shumway @vidyasagar-amd
