Repository ROCm/llvm-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing
# Documentation files
docs/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.md @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.rst @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
.readthedocs.yaml @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing

extend buffer load for fp16/bf16x16 (#2270)
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Rotating buffer PR CI fix (#2257)
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  example/ck_tile/18_flatmm/flatmm_basic.hpp
  example/ck_tile/18_flatmm/run_flatmm_example.inc
  include/ck_tile/host.hpp
  include/ck_tile/host/flush_icache.hpp
  include/ck_tile/host/kernel_launch.hpp
  include/ck_tile/host/rotating_buffers.hpp
  include/ck_tile/host/stream_config.hpp
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/benchmark_gemm.cpp
  tile_engine/ops/gemm/benchmark_gemm.hpp
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

Upgrade to ROCm6.4.1 and use generic targets for gfx1x. (#2274)
  CMakeLists.txt
  Dockerfile
  Dockerfile.compiler
  Jenkinsfile
  example/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/CMakeLists.txt
  test/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add 0 as an acceptable arguement for strides in CK GEMM example (Issue 2037) (#2268)
  example/01_gemm/common.hpp
  example/01_gemm/run_gemm_example.inc
  example/01_gemm/run_gemm_example_streamk.inc
  example/01_gemm/run_gemm_example_streamk_v2.inc
  example/01_gemm/run_gemm_example_v2.inc
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Move pragma ahead (#2231)
  include/ck/utility/env.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add Clamp/Relu bf16/fp16 cast fixes (#2279)
  include/ck/tensor_operation/gpu/element/binary_element_wise_operation.hpp
  library/include/ck/library/reference_tensor_operation/cpu/reference_conv_fwd.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

Update changelog for Rotating buffer (#2283)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing

[CK_Tile] Fix gemm kernel for 4,64,16 and 64,4,16 warp tile sizes (#2262)
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  include/ck_tile/ops/epilogue/default_2d_epilogue.hpp
  tile_engine/ops/gemm/codegen_utils.py
  tile_engine/ops/gemm/configs/default_config.json
  tile_engine/ops/gemm/gemm_instance_builder.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] Tile loop persistent gemm kernel (#2191)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/core/utility/type_traits.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  test/ck_tile/gemm/CMakeLists.txt
  test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  test/ck_tile/gemm/test_gemm_pipeline_persistent.cpp
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] Move GEMM pipeline tail handling logic to pipelines (#2222)
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/16_batched_gemm/batched_gemm.cpp
  example/ck_tile/17_grouped_gemm/grouped_gemm.cpp
  include/ck_tile/ops/gemm/kernel/grouped_gemm_kernel.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v3.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v4.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_mem.hpp
  test/ck_tile/batched_gemm/test_batched_gemm_util.hpp
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
  test/ck_tile/grouped_gemm/test_grouped_gemm_util.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Revert "[CK_TILE] Tile loop persistent gemm kernel (#2191)" (#2293)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/core/utility/type_traits.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  test/ck_tile/gemm/CMakeLists.txt
  test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  test/ck_tile/gemm/test_gemm_pipeline_persistent.cpp
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Grouped Convolution Backward Weight Explicit GEMM (#2282)
  include/ck/tensor_operation/gpu/device/impl/device_batched_gemm_multiple_d_xdl_cshuffle_v3.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_explicit_xdl.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle_v3.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_conv_v3.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_v3_multi_d.hpp
  library/include/ck/library/tensor_operation_instance/add_grouped_conv_bwd_wei_exp_device_operation_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_exp_gemm_xdl_universal_km_kn_mn_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight_explicit_xdl.inc
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_comp_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_comp_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_comp_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_comp_mpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v1_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v1_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v1_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v2_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v2_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v2_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_comp_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_comp_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_comp_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_comp_mpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v1_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v1_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v1_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v2_default_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v2_kpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v2_mkpadding_instance.cpp
  profiler/src/CMakeLists.txt
  test/grouped_convnd_bwd_weight/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

extend buffer load to support load 32 bf16/fp16 at same time (#2291)
  include/ck_tile/core/arch/amd_buffer_addressing.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] Tileloop persistent gemm - resubmit (#2299)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/core/utility/type_traits.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  test/ck_tile/gemm/CMakeLists.txt
  test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  test/ck_tile/gemm/test_gemm_pipeline_persistent.cpp
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add a python script for running ckProfiler and processing the results (#2288)
  script/run_ck_profiler_gemm_with_csv_shapes.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Code Refactor for check_err.hpp (#2284)
  include/ck_tile/host/check_err.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

MUST USE INLINE FOR ANY NON TEMPLATE FUNCTION IN HEADER!!! (#2305)
  include/ck_tile/host/check_err.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix fmha fwd precision issue on MI3XX series (#2285)
  include/ck_tile/core/config.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_batch_prefill_pipeline_qr_ks_vs_async.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_async.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Grouped conv bwd wei explicit GEMM for odd C/K (#2306)
  include/ck/tensor_operation/gpu/device/impl/device_batched_gemm_multiple_d_xdl_cshuffle_v3.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_explicit_xdl.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_exp_gemm_xdl_universal_km_kn_mn_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_backward_weight_explicit_xdl.inc
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_comp_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v1_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v1_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v2_mkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_mem_v2_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_odd_m_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_odd_mn_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/bf16_bf16_bf16/device_grouped_convnd_bwd_weight_bf16_bf16_bf16_exp_odd_n_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_comp_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v1_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_mem_v2_mnkpadding_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_odd_m_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_odd_mn_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_convnd_bwd_weight/explicit_xdl/fp16_fp16_fp16/device_grouped_convnd_bwd_weight_f16_f16_f16_exp_odd_n_instance.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

hot fix (#2315)
  include/ck_tile/host.hpp
  include/ck_tile/host/check_err.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

fix headers (#2321)
  library/include/ck/library/tensor_operation_instance/add_device_operation_instance.hpp
  test/scatter_gather/scatter_gather.cpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

Remove usage of 'warpSize' variable as it has been deprecated (#2295)
  include/ck/utility/get_id.hpp
  include/ck_tile/core/arch/arch.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Convert CK (GeMM MulMul Weight Preshuffle) instances to use 16x16 xdl tile (#2229)
  library/include/ck/library/tensor_operation_instance/gpu/gemm_multiply_multiply_wp.hpp
  library/src/tensor_operation_instance/gpu/gemm_multiply_multiply_wp/f8_f8_bf16/device_gemm_multiply_multiply_wp_xdl_f8_f8_bf16_mk_mfma_mn.hpp
  library/src/tensor_operation_instance/gpu/gemm_multiply_multiply_wp/f8_f8_f16/device_gemm_multiply_multiply_wp_xdl_f8_f8_f16_mk_mfma_mn.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

Label CMakeLists message() as DEBUG or STATUS for clean build output (#2301)
  CMakeLists.txt
  client_example/CMakeLists.txt
  codegen/CMakeLists.txt
  codegen/test/rtc/CMakeLists.txt
  example/CMakeLists.txt
  example/ck_tile/01_fmha/CMakeLists.txt
  example/ck_tile/02_layernorm2d/CMakeLists.txt
  example/ck_tile/05_reduce/CMakeLists.txt
  example/ck_tile/10_rmsnorm2d/CMakeLists.txt
  example/ck_tile/11_add_rmsnorm2d_rdquant/CMakeLists.txt
  example/ck_tile/12_smoothquant/CMakeLists.txt
  example/ck_tile/14_moe_smoothquant/CMakeLists.txt
  example/ck_tile/15_fused_moe/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/mha/CMakeLists.txt
  profiler/src/CMakeLists.txt
  test/CMakeLists.txt
  test/ck_tile/gemm/CMakeLists.txt
  tile_engine/include/CMakeLists.txt
  tile_engine/ops/gemm/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

fix flatmm kernel for bigger size for fp16 datatype (#2302)
  example/ck_tile/18_flatmm/CMakeLists.txt
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  example/ck_tile/18_flatmm/flatmm_basic.hpp
  example/ck_tile/18_flatmm/run_flatmm_example.inc
  include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1.hpp
  include/ck_tile/ops/flatmm/pipeline/flatmm_pipeline_agmem_bgmem_creg_v1_policy.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

fix on the typo (#2326)
  include/ck_tile/ops/gemm/warp/warp_gemm_attribute_mfma_impl.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Epilogue cshuffle Improvement (#2312)
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Stream-K Reduction option as Runtime parameter and Compilation Error Fix (SK- Reduction) (#2145)
  example/01_gemm/common.hpp
  example/01_gemm/run_gemm_example_streamk_v2.inc
  include/ck/tensor_operation/gpu/device/device_gemm_streamk_v2.hpp
  include/ck/tensor_operation/gpu/device/impl/device_gemm_xdl_cshuffle_streamk_v3.hpp
  include/ck/tensor_operation/gpu/grid/block_to_ctile_map.hpp
  include/ck/tensor_operation/gpu/grid/gridwise_gemm_xdl_cshuffle_streamk_v3.hpp
  include/ck/utility/dynamic_buffer.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Move SetZero functions inside the kernels for Grouped Conv (#2255)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_wmma_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v1.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_multiple_d_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_two_stage_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_xdl_cshuffle_v3.hpp
  profiler/include/profiler/profile_grouped_conv_bwd_data_impl.hpp
  profiler/include/profiler/profile_grouped_conv_bwd_weight_impl.hpp
  profiler/include/profiler/profile_grouped_conv_fwd_impl.hpp
  test/grouped_convnd_bwd_data/test_grouped_convnd_bwd_data_xdl.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] moe sorting optimization : refactor subtoken logic to let more kernel pickup mp kernel (#2327)
  include/ck_tile/ops/fused_moe/kernel/moe_sorting_kernel.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Grouped conv bwd weight with grouped gemm (#2304)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_data_multiple_d_xdl_cshuffle_v1.hpp
  include/ck/tensor_operation/gpu/grid/block_to_ctile_map.hpp
  profiler/include/profiler/profile_grouped_conv_bwd_data_impl.hpp
  profiler/include/profiler/profile_grouped_conv_bwd_weight_impl.hpp
  test/grouped_convnd_bwd_data/test_grouped_convnd_bwd_data_xdl.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

OCP FP8 Macro restructure (#2331)
  include/ck_tile/core/config.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

fix(gemm_universal): Update gemm_utils.hpp so it builds successfully for memory pipeline (#2336)
  example/ck_tile/03_gemm/gemm_utils.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Code drop for 2 warp ping pong scheduler along K dimension. (#2276)
  CHANGELOG.md
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/universal_gemm.cpp
  include/ck_tile/core/algorithm/static_encoding_pattern.hpp
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  include/ck_tile/ops/gemm.hpp
  include/ck_tile/ops/gemm/block/block_gemm_areg_breg_creg_v1.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_base.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v3.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v4.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v5.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_v5_default_policy.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_mem.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_pipeline_problem.hpp
  include/ck_tile/ops/gemm/pipeline/gemm_universal_pipeline_ag_bg_cr_policy.hpp
  include/ck_tile/ops/gemm/pipeline/tile_gemm_traits.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

[CK_TILE] Multiple-D GEMM example (#2219)
  CHANGELOG.md
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/16_batched_gemm/run_batched_gemm_example.inc
  example/ck_tile/17_grouped_gemm/README.md
  example/ck_tile/17_grouped_gemm/grouped_gemm.cpp
  example/ck_tile/17_grouped_gemm/grouped_gemm.hpp
  example/ck_tile/17_grouped_gemm/run_grouped_gemm_example.inc
  example/ck_tile/19_gemm_multi_d/CMakeLists.txt
  example/ck_tile/19_gemm_multi_d/README.md
  example/ck_tile/19_gemm_multi_d/gemm_multi_d_fp16.cpp
  example/ck_tile/19_gemm_multi_d/gemm_multi_d_fp16.hpp
  example/ck_tile/19_gemm_multi_d/run_gemm_multi_d_fp16_example.inc
  example/ck_tile/19_gemm_multi_d/utils.hpp
  example/ck_tile/CMakeLists.txt
  include/ck_tile/core/tensor/tile_elementwise.hpp
  include/ck_tile/host/reference/reference_gemm.hpp
  include/ck_tile/ops/elementwise/unary_element_wise_operation.hpp
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
  include/ck_tile/ops/gemm/kernel/batched_gemm_kernel.hpp
  include/ck_tile/ops/gemm/kernel/gemm_kernel.hpp
  include/ck_tile/ops/gemm/kernel/grouped_gemm_kernel.hpp
  test/ck_tile/CMakeLists.txt
  test/ck_tile/batched_gemm/test_batched_gemm_util.hpp
  test/ck_tile/gemm/test_gemm_pipeline_util.hpp
  test/ck_tile/gemm_multi_d/CMakeLists.txt
  test/ck_tile/gemm_multi_d/test_gemm_multi_d.cpp
  test/ck_tile/gemm_multi_d/test_gemm_multi_d_ut_cases.inc
  test/ck_tile/gemm_multi_d/test_gemm_multi_d_util.hpp
  test/ck_tile/grouped_gemm/test_grouped_gemm_util.hpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

check for if misched-bottomup flag is valid (#2341)
  example/65_gemm_multiply_multiply/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/gemm_blockscale_wp/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Limit the threads to builf ck_tile engine, use ninja. (#2342)
  Jenkinsfile
  script/cmake-ck-dev.sh
  script/cmake-ck-release.sh
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix direct lds load for gfx950 and clang20 (#2346)
  include/ck/utility/amd_buffer_addressing_builtins.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

hot fix block_gemm fail with pipeline_problem by adding NumWaveGroups inside block gemm problem (#2348)
  include/ck_tile/ops/gemm/block/block_gemm_problem.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add support for specifying valid flag when fetching elements for tile_scatter_gather (#2332)
  include/ck_tile/core/tensor/tile_scatter_gather.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing
