Repository ROCm/llvm-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing
# Documentation files
docs/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.md @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
*.rst @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
.readthedocs.yaml @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @ThomasNing

Remove PERL scripts, add GitHub repo link...
  amd/hipcc/docs/env.rst
  amd/hipcc/docs/index.rst
  amd/hipcc/docs/test.md
  amd/hipcc/docs/usage.rst
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing

AMDGPU: Fix the double rounding issue in v2f64 -> v2f16 conversion (#135659) (#1791)
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/fptrunc.f16.ll
  llvm/test/CodeGen/AMDGPU/fptrunc.v2f16.no.fast.math.ll
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[Comgr] Fix broken SPIRV LIT test
  amd/comgr/test-lit/spirv-to-reloc.hip
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

HACK: Handle ROCM installation layout of lib/llvm/bin/clang++.
  clang/lib/Driver/ToolChains/AMDGPU.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Disable hipcc passing hip-device-libs.
  amd/hipcc/src/hipBin_amd.h
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Remove commented code.
  amd/hipcc/src/hipBin_amd.h
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[ScheduleDAG] Allow disabling the SchedModel / Itineraries during Scheduling (#138057)
  llvm/include/llvm/CodeGen/TargetSchedule.h
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/lib/CodeGen/TargetSchedule.cpp
  llvm/test/CodeGen/AMDGPU/sched-no-schedmodel.mir
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Reapply "[clang][HIP] Make some math not not work with AMDGCN SPIR-V … (#2066)
  clang/lib/Headers/__clang_hip_libdevice_declares.h
  clang/lib/Headers/__clang_hip_math.h
  clang/test/Headers/__clang_hip_math.hip
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix test
  llvm/test/CodeGen/AMDGPU/sched-no-schedmodel.mir
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

enforce compiler github action runners for psdb trigger
  .github/workflows/PSDB-amd-mainline.yml
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[Comgr] Fix SPIRV LIT test to work with Debug and Release
  amd/comgr/test-lit/spirv-to-reloc.hip
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

AMDGPU: Make v2f32 -> v2f16 legal when target supports v_cvt_pk_f16_f32 (#139956) (#2186)
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/fptrunc.v2f16.no.fast.math.ll
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing

[AMDGPU] Fix crash due to missing check for FLAT instructions that dont use vector registers when computing VALU hazard (#123627)
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/test/CodeGen/AMDGPU/fix-crash-valu-hazard.ll
  llvm/test/CodeGen/AMDGPU/hazard-flat-instruction-valu-check.mir
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[AMDGPU] Relax lds dma waitcnt with no aliasing pair (#131842)
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/lds-dma-waits.ll
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Update HIPCC documentation requirements
  amd/hipcc/docs/sphinx/requirements.in
  amd/hipcc/docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing

[VLLM V1] Add chunked prefill for FA to pass seq with small seqlen_q (#2221)
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  example/ck_tile/01_fmha/fmha_fwd.hpp
  include/ck_tile/core.hpp
  include/ck_tile/host.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
  include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_problem.hpp
  include/ck_tile/ops/fmha/pipeline/tile_fmha_traits.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Fix grid size calc for bwd wei (#2226)
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_multiple_d_xdl_cshuffle.hpp
  include/ck/tensor_operation/gpu/device/impl/device_grouped_conv_bwd_weight_wmma_cshuffle.hpp
  include/ck/tensor_operation/operator_transform/transform_conv_bwd_weight_to_gemm.hpp
  include/ck/tensor_operation/operator_transform/transform_conv_bwd_weight_to_gemm_v2.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Remove not needed bwd wei merged groups instances (#2218)
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_grouped_conv_bwd_weight_two_stage_xdl_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_wmma.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_gnhwc_gkyxc_gnhwk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_gnhwc_gkyxc_gnhwk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_nhwgc_gkyxc_nhwgk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_nhwgc_gkyxc_nhwgk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_2x_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_part2_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_2x_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_part2_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_gndhwc_gkzyxc_gndhwk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_gndhwc_gkzyxc_gndhwk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_ndhwgc_gkzyxc_ndhwgk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_ndhwgc_gkzyxc_ndhwgk_i8_oddc_instance.cpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

Revert "Remove not needed bwd wei merged groups instances (#2218)" (#2235)
  library/include/ck/library/tensor_operation_instance/gpu/grouped_conv_bwd_weight/device_grouped_conv_bwd_weight_two_stage_xdl_instance.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward.hpp
  library/include/ck/library/tensor_operation_instance/gpu/grouped_convolution_forward_wmma.inc
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_gnhwc_gkyxc_gnhwk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_gnhwc_gkyxc_gnhwk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_nhwgc_gkyxc_nhwgk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/wmma/device_grouped_conv2d_fwd_wmma_nhwgc_gkyxc_nhwgk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_2x_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_comp_part2_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_2x_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_comp_part2_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/comp/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_comp_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_gnhwc_gkyxc_gnhwk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_bf16_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f16_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_f32_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_inter_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv2d_fwd/xdl/mem/device_grouped_conv2d_fwd_xdl_nhwgc_gkyxc_nhwgk_int8_mem_intra_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/CMakeLists.txt
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_gndhwc_gkzyxc_gndhwk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_gndhwc_gkzyxc_gndhwk_i8_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_ndhwgc_gkzyxc_ndhwgk_f16_oddc_instance.cpp
  library/src/tensor_operation_instance/gpu/grouped_conv3d_fwd/wmma/device_grouped_conv3d_fwd_wmma_ndhwgc_gkzyxc_ndhwgk_i8_oddc_instance.cpp
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

Add operator/instance filters to ckProfiler (#2233)
  profiler/src/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] For FMHA forward kernels, assign block indices reversely if using mask (#2209)
  include/ck_tile/ops/fmha/kernel/fmha_fwd_kernel.hpp
  include/ck_tile/ops/fmha/kernel/fmha_fwd_splitkv_kernel.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[Tile Engine] Add benchmark for tile engine gemm. (#2193)
  CHANGELOG.md
  Jenkinsfile
  include/ck_tile/host/device_prop.hpp
  tile_engine/ops/gemm/CMakeLists.txt
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/benchmark_gemm.cpp
  tile_engine/ops/gemm/benchmark_gemm.hpp
  tile_engine/ops/gemm/codegen_utils.py
  tile_engine/ops/gemm/configs/default_config.json
  tile_engine/ops/gemm/configs/instance_combination.json
  tile_engine/ops/gemm/configs/user_provided_config.json
  tile_engine/ops/gemm/gemm_host_api.cpp
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
  tile_engine/ops/gemm/json_config.py
Owners: @ROCm/rocm-documentation, @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @ThomasNing, @tenpercent

Add catch blocks in example GEMM apps to enable better error handling (Issue: 1928) (#2234)
  example/ck_tile/03_gemm/gemm_basic.cpp
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/13_moe_sorting/moe_sorting.cpp
  example/ck_tile/16_batched_gemm/batched_gemm.cpp
  example/ck_tile/17_grouped_gemm/grouped_gemm.cpp
  example/ck_tile/18_flatmm/flatmm_basic.cpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_tile] Add rotating buffer feature for universal gemm (#2200)
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  example/ck_tile/18_flatmm/flatmm_basic.hpp
  example/ck_tile/18_flatmm/run_flatmm_example.inc
  include/ck_tile/host.hpp
  include/ck_tile/host/flush_icache.hpp
  include/ck_tile/host/kernel_launch.hpp
  include/ck_tile/host/rotating_buffers.hpp
  include/ck_tile/host/stream_config.hpp
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/benchmark_gemm.cpp
  tile_engine/ops/gemm/benchmark_gemm.hpp
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

Remove extra if from CMakeLists.txt of gemm tests (#2213)
  test/ck_tile/gemm/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

fix type hint (#2254)
  tile_engine/ops/gemm/json_config.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Revert "[CK_tile] Add rotating buffer feature for universal gemm (#2200)" (#2256)
  example/ck_tile/03_gemm/gemm_utils.hpp
  example/ck_tile/03_gemm/run_gemm_example.inc
  example/ck_tile/03_gemm/universal_gemm.cpp
  example/ck_tile/18_flatmm/flatmm_basic.cpp
  example/ck_tile/18_flatmm/flatmm_basic.hpp
  example/ck_tile/18_flatmm/run_flatmm_example.inc
  include/ck_tile/host.hpp
  include/ck_tile/host/flush_icache.hpp
  include/ck_tile/host/kernel_launch.hpp
  include/ck_tile/host/rotating_buffers.hpp
  include/ck_tile/host/stream_config.hpp
  tile_engine/ops/gemm/README.md
  tile_engine/ops/gemm/benchmark_gemm.cpp
  tile_engine/ops/gemm/benchmark_gemm.hpp
  tile_engine/ops/gemm/gemm_host_api.hpp
  tile_engine/ops/gemm/gemm_instance_builder.py
  tile_engine/ops/gemm/gemm_profiler.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

change from ninja to make (#2253)
  Jenkinsfile
  tile_engine/ops/gemm/README.md
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing, @ROCm/rocm-documentation

Add option to disable offload compress for CK builds (#2250)
  CMakeLists.txt
  library/src/tensor_operation_instance/gpu/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Changes to allow MIOpen to build CK as part of its build. (#2247)
  CMakeLists.txt
  library/src/tensor_operation_instance/gpu/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[CK_TILE] FMHA forward batch_prefill optimization for low CU utilization (#2251)
  example/ck_tile/01_fmha/codegen/ops/fmha_batch_prefill.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

add CShuffleM/NXdlPerWavePerShuffle in cshuffle_epilogue (#2185)
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Export codegen targets (#2259)
  codegen/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Revert "add CShuffleM/NXdlPerWavePerShuffle in cshuffle_epilogue (#2185)" (#2260)
  include/ck_tile/ops/epilogue/cshuffle_epilogue.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

remove restriction of group mode hd192 no lse (#2252)
  example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Define CHAR_BIT during hipRTC (#2264)
  include/ck/utility/data_type.hpp
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

[AMDGPU] Fix scale opsel flags for scaled MFMA operations (#140183) (#2319)
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.scale.f32.16x16x128.f8f6f4.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.scale.f32.32x32x64.f8f6f4.ll
  llvm/test/MC/AMDGPU/mai-gfx950.s
  llvm/test/MC/Disassembler/AMDGPU/gfx950_mai.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Add a daily CI build on GFX950. (#2261)
  Jenkinsfile
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing

Explicitly set the LINKER_LANGUAGE for the gemm_template_instances target to avoid Ninja build config failure. (#2265)
  tile_engine/ops/gemm/CMakeLists.txt
Owners: @illsilin, @carlushuang, @qianfengz, @aosewski, @poyenc, @geyyer, @bartekxk, @andriy-ca, @afagaj, @asleepzzz, @tenpercent, @ThomasNing
