Repository ROCm/llvm-project, pull requests merged in 2024-05, with the labels that each got.

#69 Hipcc docs
  amd/hipcc/LICENSE.txt
  amd/hipcc/docs/build.md
  amd/hipcc/docs/build.rst
  amd/hipcc/docs/env.md
  amd/hipcc/docs/env.rst
  amd/hipcc/docs/index.md
  amd/hipcc/docs/index.rst
  amd/hipcc/docs/sphinx/_toc.yml.in
  amd/hipcc/docs/test.md
  amd/hipcc/docs/usage.md
  amd/hipcc/docs/usage.rst
Labels: documentation

#50 [flang][OpenMP] Extend `do concurrent` mapping to device.
  flang/include/flang/Lower/OpenMP/Clauses.h
  flang/include/flang/Lower/OpenMP/Utils.h
  flang/include/flang/Optimizer/Transforms/Passes.h
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/include/flang/Tools/CLOptions.inc
  flang/lib/Frontend/FrontendActions.cpp
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  flang/lib/Lower/OpenMP/ClauseProcessor.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/DataSharingProcessor.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Lower/OpenMP/ReductionProcessor.h
  flang/lib/Lower/OpenMP/Utils.cpp
  flang/lib/Optimizer/Transforms/CMakeLists.txt
  flang/lib/Optimizer/Transforms/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/basic_device.f90
  flang/test/Transforms/DoConcurrent/basic_host.f90
  flang/test/Transforms/DoConcurrent/basic_host.mlir
  flang/tools/bbc/bbc.cpp
Labels: flang

#94 Port HIPCC doc reorg to 6.1.1
  .github/dependabot.yml
  amd/hipcc/README.md
  amd/hipcc/docs/build.md
  amd/hipcc/docs/build.rst
  amd/hipcc/docs/env.md
  amd/hipcc/docs/env.rst
  amd/hipcc/docs/index.md
  amd/hipcc/docs/index.rst
  amd/hipcc/docs/license.md
  amd/hipcc/docs/sphinx/_toc.yml.in
  amd/hipcc/docs/test.md
  amd/hipcc/docs/usage.md
  amd/hipcc/docs/usage.rst
Labels: documentation, hipcc

#95 Update env.rst syntax
  amd/hipcc/docs/env.rst
Labels: documentation, hipcc
